h1 {
    font-weight: bold;
    background-color: rgb(255,0,0,0.3);
    color: blue;
}
a {
    background-color: #00ffff;
    color: black;
    font-family: sans-serif;
    font-size: 22px;
}

body {
    font-family: sans-serif;
}

li,
.text {
    font-family: sans-serif;
    font-size: 16px;
}

img {
    height: auto;
    width: 400px;
}